---
layout: homepage
---
        {% assign pre_year = "" %}
        {% for post in site.posts %}
            {% capture year %}{{ post.date | date : "%Y" }}{% endcapture %}
            {% if pre_year != year %}
                <li class="listing-seperator">{{ year }}</li>
                {% assign pre_year = year %}
            {% endif %}
            {% assign year = nil %}

            <li class="listing-item">
              <time datetime="{{ post.date }}">{{ post.date  | date : "%F" }}</time>
              <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </li>

        {% endfor %}
        {% assign pre_year = nil %}
