---
layout: homepage
---
        {% assign pre_year = "" %}
        {% for post in site.posts %}
            {% assign year = {{ post.date | date : "%Y" }} %}
            {% if pre_year != year %}    
                <li class="listing-seperator">{{ year }}</li>
                {% assign pre_year = year %}
            {% endif %}
            {% assign year = nil %}

              <li class="listing-item">
                <time datetime="{{ post.date }}">{{ post.date  | date : "%F" }}</time> {{ year }}
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
              </li>

        {% endfor %}
        {% pre_year = nil %}
        </ul>
    </div>
    <div class="aside">
    </div>
</div>
