<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Happy Life</title>

  <meta name="author" content="Zhifei Ding">

  <link rel="alternative" href="/rss.xml" type="application/rss+xml" title="Zhifei Ding - RSS" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- Google webfonts is almost not accessible from China, so we host locally -->
  <link href="/assets/fonts/fonts.css" type="text/css" rel="stylesheet" media="all">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/assets/styles/normalize.css">
  <link rel="stylesheet" href="/assets/styles/skeleton.css">
  <link rel="stylesheet" href="/assets/styles/style.css">
  <link rel="stylesheet" href="/assets/styles/highlight.css">
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>

  <link href="/assets/styles/pygments.css" type="text/css" rel="stylesheet" media="all">

  <link rel="stylesheet" href="/assets/styles/customize.css">


</head>
