{% include header.html %}

  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1> {{ page.title }} </h1>
	</header>

    {% include navigator.html %}
    <article class="content">
    <section class="post">

　　{{ content }}
　　
    </section>
    <section class="meta">
    <span class="author">
      <a href="http://zhifeiding.github.io">志飞</a>
    </span>
    <span class="time">
      /
      <time datetime="{{ page.date }}">{{ page.date | date : "%F" }}</time>
    </span>
    <br />
    <span class="license">
      Published under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">(CC) BY-NC-SA</a>
    </span>
    </section>

    <section class="comment">
    <div id="disqus_thread"></div>
	    
    <script type="text/javascript">
    $(function(){
      $(document).keydown(function(e) {
        if (e.target.nodeName.toUpperCase() != 'BODY') return;
        var url = false;
            if (e.which == 37 || e.which == 74) {  // Left arrow and J

            url = '{{ page.url }}';

            }
            else if (e.which == 39 || e.which == 75) {  // Right arrow and K

            }
            if (url) {
                window.location = url;
            }
      });
    })
    </script>


    </article>
    </div>
    </div>

        {% include footer.html %}

  </body>
</html>
